{% extends 'base3.html' %}

{% block title %}news Deteil{% endblock %}

{% block contents %}
<br>
<div class="container">
    <div class="row">
        <div class="col offset-3">
            <form method="POST">
                <p><br><br><br><br><br><br><br><br>削除してもいいですか？</p>
                {% csrf_token %}
                <button class="btn btn-primary my-2" type="submit">削除</button>
                <a href="{% url 'newsapp:detail2' object.pk %}" class="btn btn-secondary my-2">キャンセル</a><br><br><br><br><br><br><br><br>
            </form>
        </div>
    </div>
</div>
{% endblock %}